.git
.venv
.heb-*
runtime
logs
tests
guides
*.pdf
.DS_Store

data/*
!data/24/
!data/24/**
!data/24-atlas/
!data/24-atlas/**
!data/265/
!data/265/**
!data/265-atlas/
!data/265-atlas/**
!data/269/
!data/269/**
!data/269-atlas/
!data/269-atlas/**
!data/659/
!data/659/**
!data/659-atlas/
!data/659-atlas/**
!data/790/
!data/790/**
!data/790-atlas/
!data/790-atlas/**
!data/811/
!data/811/**
!data/811-atlas/
!data/811-atlas/**
