.git
.venv
.heb-*
runtime
logs
tests
guides
*.pdf
.DS_Store

data/*
!data/6/
!data/6/**
!data/6-atlas/
!data/6-atlas/**
!data/14/
!data/14/**
!data/14-atlas/
!data/14-atlas/**
!data/16/
!data/16/**
!data/16-atlas/
!data/16-atlas/**
!data/24/
!data/24/**
!data/24-atlas/
!data/24-atlas/**
!data/25/
!data/25/**
!data/25-atlas/
!data/25-atlas/**
!data/26/
!data/26/**
!data/26-atlas/
!data/26-atlas/**
!data/28/
!data/28/**
!data/28-atlas/
!data/28-atlas/**
!data/31/
!data/31/**
!data/31-atlas/
!data/31-atlas/**
!data/38/
!data/38/**
!data/38-atlas/
!data/38-atlas/**
!data/39/
!data/39/**
!data/39-atlas/
!data/39-atlas/**
!data/178/
!data/178/**
!data/178-atlas/
!data/178-atlas/**
!data/183/
!data/183/**
!data/183-atlas/
!data/183-atlas/**
!data/189/
!data/189/**
!data/189-atlas/
!data/189-atlas/**
!data/224/
!data/224/**
!data/224-atlas/
!data/224-atlas/**
!data/265/
!data/265/**
!data/265-atlas/
!data/265-atlas/**
!data/269/
!data/269/**
!data/269-atlas/
!data/269-atlas/**
!data/333/
!data/333/**
!data/333-atlas/
!data/333-atlas/**
!data/370/
!data/370/**
!data/370-atlas/
!data/370-atlas/**
!data/373/
!data/373/**
!data/373-atlas/
!data/373-atlas/**
!data/659/
!data/659/**
!data/659-atlas/
!data/659-atlas/**
!data/790/
!data/790/**
!data/790-atlas/
!data/790-atlas/**
!data/811/
!data/811/**
!data/811-atlas/
!data/811-atlas/**
